body {
    font-family: "Ubuntu Mono", monospace;
    margin: 0;
    padding: 0;    
    color: #39FF14; 
    text-shadow: 0 0 3px #39FF14;
    background-color: #013220; 

}



header {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centre les éléments verticalement, si nécessaire */
}

.photo, .coordonees {
    flex: 1; /* Prend chacun 1/4 de l'espace disponible */
    max-width: 25%; /* Limite la largeur à 25% du conteneur parent */
}

.enTete {
    flex: 2; /* Prend 1/2 de l'espace disponible */
    padding: 10px;
    
}

#imageContainer img {
    width: 250px;  /* Assure que l'image s'étend sur toute la largeur du conteneur */
    height: 250px; /* Maintient les proportions de l'image */
    padding : 20px;
}



p {
    margin: 0px;
    padding: 5px;
    text-align: justify;
}

h2 {
    margin: 0px;    
}

h1{
    padding-bottom: 3px;
}

a {
    display: block;
    color: inherit; 
    text-decoration: none; 
    font-size: inherit; 
    font-family: inherit; 
    margin: 0px;
    padding: 5px;
}

a:hover{
    background-color: #39FF14;
    color: #013220;
}
  


#containerMain {
    display: flex;
    width: 100%;
}

.voletGauche {
    flex: 2; /* Prend 2 parts de l'espace disponible */
}

.voletDroit {
    flex: 1; /* Prend 1 part de l'espace disponible */
}

/* Assure que le contenu de chaque volet est disposé en colonne */
.voletGauche, .voletDroit {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.contenerMain{
    gap: 20px;
}


/* Loader */

#loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #013220;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    z-index: 1000;
}


.hidden {
    display: none !important; /* Utilise !important pour s'assurer que le style est appliqué */
}